In [1]:
#Import Required Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [2]:
#Reading Dataset
dataset = pd.read_csv('news.csv')

In [3]:
#Checking Information of our dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [4]:
#Take a glance at our dataset
dataset.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [5]:
#Dropping the missing values of nan values
inputs = dataset.drop(['Unnamed: 0','title'],axis = 'columns')
inputs.head()

                                                text label
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2  U.S. Secretary of State John F. Kerry said Mon...  REAL
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4  It's primary day in New York and front-runners...  REAL

In [6]:
labels = LabelEncoder()
inputs['labels_num'] = labels.fit_transform(dataset["label"])
inputs.head()

                                                text label  labels_num
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE           0
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE           0
2  U.S. Secretary of State John F. Kerry said Mon...  REAL           1
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE           0
4  It's primary day in New York and front-runners...  REAL           1

In [7]:
inputs = inputs.drop(['label'],axis = 'columns')
inputs.head()

                                                text  labels_num
0  Daniel Greenfield, a Shillman Journalism Fello...           0
1  Google Pinterest Digg Linkedin Reddit Stumbleu...           0
2  U.S. Secretary of State John F. Kerry said Mon...           1
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...           0
4  It's primary day in New York and front-runners...           1

In [8]:
#Dividing dataset into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(inputs.text,inputs.labels_num, test_size=0.25, random_state=42)

In [9]:
#Converting Text Data into Numerical Values
v = CountVectorizer(max_features=12000)
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]
X_test_count = v.transform(X_test)

In [13]:
# Random Forest
model = RandomForestClassifier()
model.fit(X_train_count,Y_train)
model.score(X_test_count,Y_test)

0.9059343434343434